*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppinns', sans-serif;
}
body{
    background: #B8B8C8;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 18px;
    border-radius: 10px;
}

.container h1{
    font-weight: 700;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.container h1 span{
    color: #720e9e;
    border-bottom: 4px solid #720e9e;
    padding-bottom: 7px;
}

.display img{
    width: 80px;
    cursor: pointer;
}

.display input{
     border: none;
     outline: none;
     font-size: 24px;
     font-family: 'Arial', Helvetica, sans-serif;
     color: #333;
}

.container button img{
    width: 40px;
    margin-right: 10px;
    color: #fff;
}

.container button{
    border: 0;
    outline: 0;
    background: #720e9e;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    border-radius: 5px;
    cursor: pointer;
}